<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yisan.crash">


    <application>
        <activity
            android:name=".activity.DefaultErrorActivity"
            android:process=":error_activity" />


        <provider
            android:name=".provider.CaocInitProvider"
            android:authorities="${applicationId}.customactivityoncrashinitprovider"
            android:exported="false"
            android:initOrder="101" />
    </application>


</manifest>
